.minicart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
  flex: none;

  img {
    width: 30%;
    object-fit: cover;
    border-radius: 8px;
  }

  .item-details {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;

    .name {
      font-size: 20px;
      margin: 0;
    }

    .info {
      font-size: 18px;
      margin-top: auto;
    }

    .price {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
