.minicart-container {
  position: absolute;
  width: 280px;
  height: auto;
  padding: 20px;
  border: 1px solid #ececec;
  background-color: white;
  top: 60px;
  right: 22px;
  z-index: 5;
  box-shadow: 2px 2px 10px #00000071;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease-in, visibility 0s;
  transition-delay: 0ms, 150ms;
  border-radius: 8px;

  &.to-show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms, 0ms;
  }

  .minicart-content {
    position: relative;
    display: flex;
    max-height: 80vh;
    flex-direction: column;
    max-height: calc(100vh - 120px);
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .minicart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
  }

  .minicart-total {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 10px;
    width: 100%;
  }

  .close-minicart {
    all: unset;
    position: absolute;
    display: flex;
    width: 20px;
    height: 20px;
    top: -18px;
    right: -14px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
  }
}
