.login-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;

  h2 {
    margin: 10px 0;
  }

  .buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }
}