.navigation {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffffc9;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 4px 5px #0000001f;

  .navigation-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo-container {
    padding: 5px;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 10px;
      margin-right: 5px;
      cursor: pointer;
    }
  }
}
