.cart-container.container {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: relative;

  &.empty-container {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    margin: 0;
  }

  .total {
    margin-left: auto;
    font-size: 36px;
    z-index: 11;

    @media only screen and (max-width: 1140px ) {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ffffff77;
      backdrop-filter: blur(5px);
      box-shadow: -2px -2px 5px #0000002f;
      width: 100%;
      max-width: 800px;
      margin: auto;
      padding: 5px 20px;
      text-align: right;
    }

    @media only screen and (min-width: 1140px ) {
      position: sticky;
      top: 10px;
      bottom: auto;
    }

    span {
      font-size: 26px;
    }
  }

  .cart-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    margin-top: 30px;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 24px;
        margin-left: 15px;
      }
    }
  }
}

.cart-item-container {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .name {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    all: unset;
    cursor: pointer;
    user-select: none;
  }

  .quantity {
    display: flex;
    justify-content: center;

    button {
      width: 24px;
      height: 15px;
      border: 1px solid #000;
      font-size: 30px;
      line-height: 0;
      display: flex;
      align-items: baseline;
      justify-content: center;
      padding-top: 9px;
      border-radius: 4px;
    }

    .value {
      width: 18px;
      text-align: center;
      margin: 0 2px;
    }
  }

  .remove-button {
    width: 24px;
    margin-left: 15px;
  }
}

