html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #f7f7f7;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}


.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 25px;
  width: 100%;
  /* opacity: 0;
  animation: 0.40s ease-out forwards fade-in; */

  @media only screen and (min-width: 768px ) {
    padding: 0 20px 50px;
  }

  .navigation + & {
    padding-top: 95px;

    &::after {
      content: '';
      display: block;
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-width: 100vw;
      max-height: 100vh;
      background: #FFF;
      pointer-events: none;
      animation: 0.40s 0.15s ease-out forwards fade-out;
      z-index: 9;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    z-index: -1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

a {
  text-decoration: none;
  color: #000;

  &.underline {
    text-decoration: underline;
  }

  img {
    border-style: none;
    display: block;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.light-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medium-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Custom Scrollbar. Chrome / Safari and Edge full support. */
.has-custom-scrollbar {
  scroll-behavior: smooth;
  margin-right: -6px;

  // Firefox fallback
  @supports (scrollbar-color: auto) {
    scrollbar-color: #b6b6b6 transparent; // stylelint-disable-line
    scrollbar-width: auto; // stylelint-disable-line
  }

  @supports selector(::-webkit-scrollbar) {
    scrollbar-color: unset;
    scrollbar-width: unset;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 10px;
      background: #b6b6b6;

      &:hover {
        background: #888888;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}