html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  margin: 0;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.light-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.regular-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.medium-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.semibold-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bold-barlow-cond {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Custom Scrollbar. Chrome / Safari and Edge full support. */
.has-custom-scrollbar {
  scroll-behavior: smooth;
  margin-right: -6px;

  // Firefox fallback
  @supports (scrollbar-color: auto) {
    scrollbar-color: #b6b6b6 transparent; // stylelint-disable-line
    scrollbar-width: auto; // stylelint-disable-line
  }

  @supports selector(::-webkit-scrollbar) {
    scrollbar-color: unset;
    scrollbar-width: unset;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid transparent;
      border-radius: 10px;
      background: #b6b6b6;

      &:hover {
        background: #888888;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}